@font-face {
   font-family: "RobotoSlab-Medium";
   font-style: normal;
   font-weight: 500;
   src: url(/fonts/RobotoSlab-Medium.ttf);
}

body {
   font-family: "RobotoSlab-Medium", sans-serif;
   background-color: rgb(207, 207, 207);
}

.topmenu li {
   display: inline-block;
   text-align: center;
   min-width: 90px;
}

.ul {
   list-style: none;
}

.li {
   list-style: none;
}

.topmenu {
   font: 15px "RobotoSlab-Medium";
   list-style: none;
   padding: 0;
}

.icon-home {
   display: inline-block;
   width: 64px;
   height: 64px;
   background-image: url(/img/home.png);
}

.icon-database {
   display: inline-block;
   width: 64px;
   height: 64px;
   background-image: url(/img/database.png);
}

.icon-settings {
   display: inline-block;
   width: 64px;
   height: 64px;
   background-image: url(/img/settings.png);
}

.icon-tasks {
   display: inline-block;
   width: 64px;
   height: 64px;
   background-image: url(/img/tasks.png);
}

.icon-topmenu {
   text-decoration: none;
   color: black;
}

.icon-topmenu:hover {
   color: rgb(19, 105, 185);
}

.icon-topmenu:focus {
   color: rgb(185, 19, 110);
}